.typogram {
  .diagram {
    display: block;
  }

  .diagram line,
  .diagram circle,
  .diagram rect {
    stroke: var(--global-text-color);
  }

  .diagram line {
    stroke-width: 2;
  }

  .diagram circle {
    r: 3.5;
  }

  .diagram rect {
    width: 6px;
    height: 6px;
  }

  .diagram text,
  .glyph,
  .debug text {
    font-family: $font-family-monospace;
    font-size: 3em;
    text-anchor: middle;
    dominant-baseline: central;
    white-space: pre;
    fill: var(--global-text-color);
  }

  .reserved {
    fill: transparent;
    white-space: pre;
  }

  .debug[debug="true"] .reserved {
    fill: var(--global-text-color);
    opacity: 0.5;
  }

  .debug[debug="true"] line.grid {
    stroke: var(--global-text-color);
    stroke-width: 0.2;
    opacity: 0.1;
  }

  polygon {
    stroke: var(--global-text-color);
    fill: var(--global-text-color);
    stroke-width: 0.2;
  }

  .debug[debug="true"] polygon {
    fill: red;
    stroke: red;
    opacity: 0.5;
  }

  line.part {
    stroke-width: 6;
    stroke: var(--global-text-color);
  }

  .debug[debug="true"] line.part {
    stroke: red;
    opacity: 0.5;
  }

  text::selection {
    fill: HighlightText;
    background-color: Highlight;
  }
}
