/* Global Variables */
@use "sass:color";

// Base Colors
$purple-color: #a020f0 !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$dark-purple-color: #5a007a !default;
$cyan-color: #9400d3 !default;

$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #0d0d0d !default;
$grey-900: #1a1a1a !default;

$white-color: #ffffff !default;
$black-color: #000000 !default;

$back-to-top-bottom: 20px !default;
$back-to-top-right: 20px !default;
$back-to-top-height: 50px !default;
$back-to-top-width: 50px !default;
$back-to-top-z-index: 1000 !default;

// Typography
$font-family-monospace: "Iosevka Fixed", monospace !default;
